@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    box-shadow: rgb(44, 62, 80) 15px 0px 15px -15px inset, rgb(44, 62, 80) -15px 0px 15px -15px inset;
}

/*Nav Menu*/
#nav-bar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;

}

#logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 10px;
    padding: 5px;
    font-family: 'Lato', sans-serif;

}

a {
    color: #000;
    text-decoration: none;

}

a:hover {
    opacity: 0.7;
}


#menu {
    margin-right: 10px;
    padding: 5px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

#menu li {
    list-style: none;
    display: inline-block;
    padding: 8px;

}

li:hover {
    opacity: 0.7;
}

/*First container img*/
#first-container {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/*background image*/
#black-img {

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to left, #0d0d0e, #686468);
    height: 100%;
    width: 100%;
}

#first-text {
    margin: 150px 0 150px 0;
    width: 100%;
    height: 300px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Lato', sans-serif;

}

#first-text h1 {
    font-size: 200px;
}

#first-text p {
    font-size: 10px;
}



/*Second Container*/

#second-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.second-text-container {
    width: 70%;
    font-family: 'Lato', sans-serif;
    text-align: center;

}

#second-container h2 {
    color: #000;
}

#second-container p {
    padding-top: 20px;
    color: #545454;
    font-size: 20px;
}


/* hr Line style*/
hr {
    border: 1px solid #545454;
    margin: 0 20px 0 20px;
}



/*Third Container*/

#third-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
}

.third-container-left {
    height: 60%;
    width: 40%;
    text-align: justify;
    color: #545454;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
}


.heading-color {
    color: #000;
}



/*learn more button*/
.about-button {
    background-color: #000;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    border: 5px solid #000;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;

}

button:hover {
    opacity: 0.7;
}

/*Image*/

.third-container-image {
    height: 60%;
    width: 40%;

}

.third-container-image img {
    width: 100%;
    height: 100%;

}

/*Fourth container*/
#fourth-container {

    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

}

.right-video {
    height: 60%;
    width: 40%;
    padding-top: 20px;

}


.left-text-video {
    height: 60%;
    width: 40%;
    text-align: justify;
    color: #545454;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
}

.left-text-video h2 {
    color: #000;
    font-family: 'Lato', sans-serif;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/*Footer*/

#footer {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;


}


.social-media a {
    color:#545454;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

a:hover {
    opacity: 0.7;
}


.copyright {
    margin-top: 15px;
    padding: 10px;
    color: #545454;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

/*About page*/

/*. Main container*/

#main-container-about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;

}


/* Left container (text)*/
.left-container-text {
    height: 60%;
    width: 40%;
    text-align: justify;
    color: #545454;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
}

.left-container-text h2 {
    color: #000;
}

/*   Right container (photo). */
.right-container-photo {
    height: 60%;
    width: 40%;
    padding: 20px 20px 0 0;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

.right-container-photo img {
    width: 100%;
    height: 100%;
}


/*Second contaneir about*/

#second-contaneir-about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
}


/*Left photo*/
.left-photo {
    width: 25%;
    height: 60%;
    padding: 20px 20px 0 0;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    text-align: justify;
    color: #545454;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;

}

.left-photo img {
    width: 100%;
    height: 100%;
}

.left-photo p {
    padding-top: 20px;
}

/*middle photo*/

.middle-photo {
    width: 25%;
    height: 60%;
    padding: 20px 20px 0 0;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    text-align: justify;
    color: #545454;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;

}

.middle-photo img {
    width: 100%;
    height: 100%;
}

.middle-photo p {
    padding-top: 20px;
}

/*right photo*/

.right-photo {
    width: 25%;
    height: 60%;
    padding: 20px 20px 0 0;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    text-align: justify;
    color:#545454;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;

}

.right-photo img {
    width: 100%;
    height: 100%;
}

.right-photo p {
    padding-top: 20px;
}

/*third-contaneir-about*/

#third-contaneir-about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

.third-text {
    width: 100%;
    height: 60%;
    text-align: justify;
    color: #545454;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
    padding: 40px 50px 0 50px;

}

/*Sign up form */

/* Main-container */

#main-container-signup {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

input,
label,
textarea {
    display: block;
    width: 100%;
    padding-left: 5px;
}



input:focus,
label:focus {
    outline: none;
}


#box-container-form {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 25px;
}

#box-container-form h1 {
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 25px;
}

#form-register {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.space {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom: 2px solid #000;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 30px;
}

textarea {
    width: 450px;
    height: 80px;
    border: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 30px;
}

textarea:focus {
    border-color: #000;
}

input[type="submit"] {
    background-color: #000;
    color: #545454;
    border: none;
    height: 40px;
    cursor: pointer;
}


#agreement,
#agreement-label {
    display: inline-block;
    width: auto;
    padding: 5px;
}

/* Media query 1200px*/

@media screen and (max-width: 1200px) {

    /* third-container */

    #third-container {
        max-width: 100%;

    }

    #fourth-container {
        width: 100%;
    }


    iframe {
        width: 400px;
        height: 250px;
    }
}


/* Media query 800px */

@media screen and (max-width: 800px) {

    /*First container */
    #first-container {
        width: 100%;
    }

    /*Third container*/

    #third-container {
        display:flex;
        flex-direction:column;
       flex-wrap:wrap;
       justify-content:space-around;
       height:800px;
       width:100%;

    }

    .third-container-left {
        height:40%;
        width:80%;
        text-align: center;
    }

    .third-container-image {
        height:40%;
        width:80%;
     

    }

    .third-container-image img{
        height: 100%;
        width: 100%;
    }


    /*Fourth containeir*/

    #fourth-container {
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 800px;
        width: 100%;



    }

    .right-video {
        height: 40%;
        width: 100%;
        padding: 80px 0 40px 22%;
        margin-bottom: 10px;


    }

    .left-text-video {
        width: 100%;
        height: 40%;
        padding: 40px 50px 20px 50px;
        text-align: justify;
    }

    .left-text-video h2 {
        text-align: center;
    }

    iframe {
        width: 450px;
    }

    /* about.html */

    #main-container-about {
        display: block;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10% 30px 0 30px;
        height: 800px;
        width: 100%;

    }

    .left-container-text {
        width: fit-content;
        height: fit-content;
        padding: 0 30px 60px 30px;
    }

    .right-container-photo {
        width: fit-content;
        height: 45%;
        margin: 0 auto;

    }

    .right-container-photo img {
        width: 512px;
        padding-bottom: 40px;
    }

    /* Second section about */

    #second-contaneir-about {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        height: 500px;
        padding-top: 100px;

    }

    .photo-size {
        height: 30%;

    }

    .font {
        font-size: 15px;
    }


    .third-text {
        height: fit-content;
        padding-top: 0;
    }

}
/* Media query 480px */
@media screen and (max-width: 540px){
       /* nav menu */
       #logo {
        font-size: 18px;
    }

    #menu {
        font-size: 15px;
    }

    /* First container*/

    #first-text {
        margin-top: 200px;
    }


    #first-text h1 {
        font-size: 90px;
    }

    #first-text p {
        font-size: 8px;
    }

    #second-container h2 {
        font-size: 19px;
    }

    #second-container p {
        font-size: 14px;

    }

    /*Third container*/

    .third-container-left {
        padding: 40px 5px 0 5px;

    }

    #third-container h2 {
        font-size: 19px;

    }


    #third-container p {
        font-size: 14px;

    }

    .about-button {
        font-size: 14px;
        padding: 3px 8px 3px 8px;
        margin-top: 15px;
    }

    .third-container-image img {
        width: 100%;
        height: 80%;
    }

    /* fourth-container */

    #fourth-container p {
        font-size: 14px;

    }

    .right-video {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0 auto;
   
    }

    iframe {
    height: 60%;    
    width: 70%;

    }

    /* about.html */


    /* Main section about */

    #main-container-about h2 {
        text-align: center;
        font-size: 19px;
        padding-bottom: 10px;
    }
    #main-container-about p{
        font-size: 14px;
    }
    .right-container-photo { 
        height: 60%;
        width: 80%;
        border: none;
        padding-right: 10px;
    }


.right-container-photo img{

   width: 100%;
   height: 60%;
    
}
    /* Second section about */

   #second-contaneir-about{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    height: 800px;

   }

   .left-photo {
    height:30%;
    width:40%;
    border: none;
    
    
   }

   .left-photo img{
    height: 50%;
   }

   .left-photo p{
    font-size: 10px;
    line-height: normal;
    text-align: center;

   }

   /* Middle photo */

   .middle-photo {
    height:30%;
    width:40%;
    border: none;
    
    
   }

   .middle-photo img{
    height: 50%;
   }

   .middle-photo p{
    font-size: 10px;
    line-height: normal;
    text-align: center;

   }

      /* Right photo */ 

      .right-photo {
        height:30%;
        width:40%;
        border: none;
        
        
       }
    
       .right-photo img{
        height: 50%;
       }
    
       .right-photo p{
        font-size: 10px;
        line-height: normal;
        text-align: center;
    
       }

       /* Third contaneir about */

     #third-contaneir-about{
    height: 600px;
}

       #third-contaneir-about p{
        font-size: 14px;

       }

       /* Form Sign up */

       #main-container-signup{
        height: 600px;
        width: 100%;
       }

       #box-container-form{
        height: 80%;
        width:75%
       }

       textarea{
        width:300px;

       }
}



/* Media query 480px */

@media screen and (max-width: 480px) {

    /* nav menu */
    #logo {
        font-size: 18px;
    }

    #menu {
        font-size: 15px;
    }

    /* First container*/

    #first-text {
        margin-top: 200px;
    }


    #first-text h1 {
        font-size: 90px;
    }

    #first-text p {
        font-size: 8px;
    }

    #second-container h2 {
        font-size: 19px;
    }

    #second-container p {
        font-size: 14px;

    }

    /*Third container*/

    .third-container-left {
        padding: 40px 5px 0 5px;

    }

    #third-container h2 {
        font-size: 19px;

    }


    #third-container p {
        font-size: 14px;

    }

    .about-button {
        font-size: 14px;
        padding: 3px 8px 3px 8px;
        margin-top: 15px;
    }

    .third-container-image img {
        width: 100%;
        height: 80%;
    }

    /* fourth-container */

    #fourth-container p {
        font-size: 14px;

    }

    .right-video {
        padding-left: 80px;
        padding-right: 50px;
    }

    iframe {
        width: auto;

    }

    /* about.html */


    /* Main section about */

    #main-container-about h2 {
        text-align: center;
        font-size: 19px;
        padding-bottom: 10px;
    }
    #main-container-about p{
        font-size: 14px;
    }
    .right-container-photo { 
        height: 60%;
        width: 80%;
        border: none;
        padding-right: 10px;
    }


.right-container-photo img{

   width: 100%;
   height: 60%;
    
}
    /* Second section about */

   #second-contaneir-about{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    height: 800px;

   }

   .left-photo {
    height:30%;
    width:40%;
    border: none;
    
    
   }

   .left-photo img{
    height: 50%;
   }

   .left-photo p{
    font-size: 10px;
    line-height: normal;
    text-align: center;

   }

   /* Middle photo */

   .middle-photo {
    height:30%;
    width:40%;
    border: none;
    
    
   }

   .middle-photo img{
    height: 50%;
   }

   .middle-photo p{
    font-size: 10px;
    line-height: normal;
    text-align: center;

   }

      /* Right photo */ 

      .right-photo {
        height:30%;
        width:40%;
        border: none;
        
        
       }
    
       .right-photo img{
        height: 50%;
       }
    
       .right-photo p{
        font-size: 10px;
        line-height: normal;
        text-align: center;
    
       }

       /* Third contaneir about */

     #third-contaneir-about{
    height: 600px;
}

       #third-contaneir-about p{
        font-size: 14px;

       }

       /* Form Sign up */

       #main-container-signup{
        height: 600px;
        width: 100%;
       }

       #box-container-form{
        height: 80%;
        width:75%
       }

       textarea{
        width:300px;

       }

       /* Media query min-200px */

@media screen and (min-width: 200px){
      /* nav menu */
      #logo {
        font-size: 12px;
    }

    #menu {
        font-size: 12px;
    }

     /* First container*/

     #first-text {
        margin-top: 200px;
        padding:0 6px 0 6px;
    }


    #first-text h1 {
        font-size: 60px;
    }

    #first-text p {
        font-size: 6px;
    }

    #second-container h2 {
        font-size: 16px;
    }

    #second-container p {
        font-size: 6px;

    }
    /* Second container */

    #second-container h2{
        font-size: 14px;
    }
     #second-container p{
        font-size: 12px;

     }

        /*Third container*/

        .third-container-left {
            padding: 40px 5px 0 5px;
    
        }
    
        #third-container h2 {
            font-size: 14px;
            padding-top: 5px;
    
        }
    
    
        #third-container p {
            font-size: 12px;
            padding-top: 5px;
    
        }
    
        .about-button {
            font-size: 8px;
            margin:10px;
            
        }
        .third-container-image{
            display: flex;
            justify-content: center;
            align-items: center;
        } 

        .third-container-image img {
            width: 100%;
            height: 65%;
        }

          /* fourth-container */

   

    .right-video {
        padding: 0;
        height:50%;
        width: 100%;
    }

    iframe {
        width: 80%;

    }

    .left-text-video{
        height: 50%;
        padding: 0 20px 0 20px;
    }

    #fourth-container p {
        font-size: 12px;

    }
    /* Footer */
    .copyright {
        font-size: 12px;
       
    }
      /* about.html */


    /* Main section about */
     .left-container-text{
        width: 100%;
        height: 50%;
        padding: 20px 5px 0 5px;
     }
    #main-container-about h2 {
        text-align: center;
        font-size: 14px;
        padding-bottom: 10px;
    }
    #main-container-about p{
        font-size: 12px;
    }
    .right-container-photo { 
        height:50%;
        width: 100%;
        border: none;
        padding:0;
    }


.right-container-photo img{

   width: 100%;
   height: 70%;
    
}
    /* Second section about */

   #second-contaneir-about{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    height: 800px;

   }

   .left-photo {
    height:30%;
    width:40%;
    border: none;
    padding: 0;
    
    
   }

   .left-photo img{
    height: 50%;
   }

   .left-photo p{
    font-size: 12px;
    line-height: normal;
    text-align: center;
    padding: 0;

   }

   /* Middle photo */

   .middle-photo {
    height:30%;
    width:40%;
    border: none;
    padding: 0;
    
    
   }

   .middle-photo img{
    height: 50%;
   }

   .middle-photo p{
    font-size: 12px;
    line-height: normal;
    text-align: center;
    padding: 0;

   }

      /* Right photo */ 

      .right-photo {
        height:30%;
        width:40%;
        border: none;
        padding: 0;
        
        
       }
    
       .right-photo img{
        height: 50%;
       }
    
       .right-photo p{
        font-size: 12px;
        line-height: normal;
        text-align: center;
        padding: 0;
    
       }

       /* Third contaneir about */

     #third-contaneir-about{
    height: 500px;
    padding: 0;
}
.third-text{
    height: 100%;
    padding: 0 25px 0 25px;
}
       #third-contaneir-about p{
        font-size: 12px;

       }

       /* Form Sign up */

       #main-container-signup{
        height: 100%;
        width: 100%;
        padding: 20px;
       }

       #box-container-form h1{
        font-size: 1rem;
       }
       input, label, textarea{
        font-size: 0.8rem;
       }

       #box-container-form{
        height: 90%;
        width:100%;
        padding: 10px;
       }
        .big-box{
        width: 100%;
        }
       textarea{
        width:100%;

       }

    
}
}