@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Oswald:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    box-shadow: rgb(44, 62, 80) 15px 0px 15px -15px inset, rgb(44, 62, 80) -15px 0px 15px -15px inset;
}

/*Nav Menu*/
#nav-bar{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
   
}

#logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 10px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
  
}

a{
    color:#000;
    text-decoration: none;
    transition: 0.2;
}

a:hover{
    opacity: 0.7;
}


#menu{
    margin-right: 10px;
    padding: 5px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
#menu li{ 
    list-style: none;
    transition: 0.2;
    display: inline-block;
    padding: 8px;
  
}

li:hover{
    opacity: 0.7;
}

/*First container img*/
#first-container{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/*background image*/
#black-img{
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to left,#0d0d0e, #686468);
    height: 100%;
    width: 100%;
}

#first-text{
    margin: 150px 0 150px 0;
    width: 100%;
    height: 300px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Lato', sans-serif;

}

#first-text h1{
    font-size: 200px;
}

#first-text p{
    font-size: 10px;
}



/*Second Container*/

#second-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

#second-container h2{
    color: #898989;
    text-align: center;
    padding: 20px;
    font-family: 'Lato', sans-serif;

}

#second-container p{
    color: black;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding:0 150px 0 150px;
    margin: 0 10px 0 10px;
}

hr{
    border: 1px solid #898989;
    margin: 0 20px 0 20px;
}

/*Third Container*/

#third-container{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#about-text{
    width: 50%;
    height: 100%; 
    position: relative;  

}
.third-container-left{   
   color: #898989;
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%);
   text-align: left;
   height: 200px;
   width: 100%;
   padding-left: 20px;
    }

.third-container-left h4{
    padding: 10px;
    color: #898989;
    font-family: 'Lato', sans-serif;
 
}

.third-container-left h2{
    padding: 10px;
    color: #000;
    font-family: 'Lato', sans-serif;

}

.third-container-left p{
padding: 10px;
color: #898989;
font-family: 'Lato', sans-serif;

}
/*learn more button*/
.about-button{
    background-color: #000;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    border: 5px solid #000;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none;
    transition: 0.2;
    cursor: pointer;
    display: inline-block;
    text-align: center;

}

button:hover{
    opacity: 0.7;
}

/*Image*/
.img-about{

    width: 50%;
    height: 100%;
   position: relative;
  
}

.third-container-right{
    height: 60%;
    width: 80%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}
/*Fourth container*/
#fourth-container{
   
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;

}

.right-video{
    height: 60%;
    width: 40%;

}


.left-text-video{
    height: 60%;
    width: 40%;   
    text-align:justify; 
    color:#898989;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
}
.left-text-video h2{
color:#000;
font-family: 'Lato', sans-serif;
padding-bottom: 10px;
text-transform: uppercase;
}

/*Footer*/

#footer{
  width: 100%;
  height: 200px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;


}


.social-media a{
    color:#898989;
    text-decoration: none;
    transition: 0.2;
    padding: 15px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    }

a:hover{
    opacity: 0.7;
}


.copyright{
    margin-top:15px;
    padding: 10px;
    color: #898989;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

/*About page*/

#main-container-about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
 
}

.left-container-text{
height: 60%;
width: 40%;
text-align:justify; 
color:#898989;
line-height: 1.8;
font-family: 'Lato', sans-serif;
}

.left-container-text h2{
    color:#000;
}

.right-container-photo{
    height: 60%;
    width: 40%;
    padding: 20px 20px 0 0;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    }

   .right-container-photo img{
    width: 100%;
    height: 350px;
   }


   /*Second contaneir about*/

   #second-contaneir-about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
   }
/*Left photo*/
   .left-photo{
    width: 25%;
    height: 60%;
    padding: 20px 20px 0 0;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    text-align:justify; 
   color:#898989;
  line-height: 1.8;
  font-family: 'Lato', sans-serif;
  
   }
   .left-photo img{
    width: 100%;
    height: 100%;
   }

/*middle photo*/

   .middle-photo{
    width: 25%;
    height: 60%;
    padding: 20px 20px 0 0;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    text-align:justify; 
    color:#898989;
    line-height: 1.8;
   font-family: 'Lato', sans-serif;
   
   }

   .middle-photo img{
    width: 100%;
    height: 100%;
   }

/*right photo*/

   .right-photo{
    width: 25%;
    height: 60%;
    padding: 20px 20px 0 0;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    text-align:justify; 
    color:#898989;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
 
   }

   .right-photo img{
    width: 100%;
    height: 100%;
   }