@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Oswald:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}

/*Nav Menu*/
nav{
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 100%;
}

#logo{
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 30px;
    margin-top: 10px;
}

a{
    color:#898989;
    text-decoration: none;
    transition: 0.2;
}

a:hover{
    opacity: 0.7;
}

#nav-menu li{
    float:right;
    list-style: none;
    display: inline-block;
    color: #898989;
    margin-right: 30px;   
    margin-top: 10px;
    font-size: 18px;
    transition: 0.2;
}

li:hover{
    opacity: 0.7;
}

/*First container img*/
#first-container{
    height: 600px;
}
/*background image*/
#black-img{
    background-image: url('../images/first-img.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    height: 600PX;
    width: 100%;
}

#first-container h1{
    color:#FFFFFF;
    font-size: 100px;
    text-align: center;
    padding: 165px 0 15px 0;
    font-size: 200px;

}


#first-container p{
    color:#FFFFFF;
    text-align: center;
    font-size: 24px;
    animation-name: heading-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}


/*Second Container*/

#second-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

#second-container h2{
    color: #898989;
    text-align: center;
    padding: 20px;
    font-family: 'Lato', sans-serif;

}

#second-container p{
    color: black;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding:0 150px 0 150px;
    margin: 0 10px 0 10px;
}

hr{
    border: 1px solid #898989;
    margin: 0 20px 0 20px;
}

/*Third Container*/

#third-container{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#about-text{
    width: 50%;
    height: 100%; 
    position: relative;  
}
.third-container-left{   
   color: #898989;
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%);
   text-align: left;
   height: 200px;
   width: 100%;
   padding-left: 20px;
    }

.third-container-left h4{
    padding: 10px;
    color: #898989;
    font-family: 'Lato', sans-serif;
 
}

.third-container-left h2{
    padding: 10px;
    color: #000;
    font-family: 'Lato', sans-serif;

}

.third-container-left p{
padding: 10px;
color: #898989;
font-family: 'Lato', sans-serif;

}
/*learn more button*/
.about-button{
    background-color: #000;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    border: 5px solid #000;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none;
    transition: 0.2;
    cursor: pointer;
    display: inline-block;
    text-align: center;

}

button:hover{
    opacity: 0.7;
}

/*Image*/
.img-about{

    width: 50%;
    height: 100%;
   position: relative;
  
}

.third-container-right{
    height: 60%;
    width: 80%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}
/*Fourth container*/
#fourth-container{
   
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 15px;

}

.right-video{
    height: 100%;
    width: 50%;

}


.left-text-video{
    height: 300px;
    width: 50%;   
    text-align: center; 
    color:#898989;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
}
.left-text-video h2{
color:#000;
font-family: 'Lato', sans-serif;
font-size: 24px;

}

